:root {
    /* Source: https://coolors.co/ */
    --primary-bg-color: #623CEA;
    --secondary-bg-color: #2A2B2E;
    --primary-color: #DFF3E4;
    --secondary-color: #731DD8;
    --tertiary-color: #FC5130;
    --test: #5B34EA;
    
    /* Other config */
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.appContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    padding: 1em;
}
.searchContainer {
    border: 5px solid var(--secondary-bg-color);
    border-radius: 1em;
    padding: .75em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.searchContainer input {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    background: none;
    border: 3px solid var(--secondary-bg-color);
    font-size: var(--font-size);
    transition: .5s ease;
}
.searchContainer input:hover {
    border: 1px solid var(--tertiary-color);
}
.searchContainer button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size);
    letter-spacing: 1px;
}
.searchContainer button:hover {
    background-color: var(--tertiary-color);
    transition: background-color 0.3s ease;
}

.mainContent {
    border: 1px solid black;
    border-radius: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1em;
}
.cardContainer .card {
    background-color: var(--secondary-bg-color);
    border-radius: 1em;
    padding: 1em;
    min-width: 300px;
    text-align: center;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}
.cardContainer .card:hover {
    transform: scale(1.05);
}
.cardContainer .card .cardHeader {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.cardContainer .card .cardContent {
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
}
.cardContainer .card .cardContent .imageContainer {
    width: 100%;
    padding: 1px;
}
.cardContainer .card .cardContent .imageContainer img{

}
.cardContainer .card .cardFooter {
    padding: .5em;
}
.sidebar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--secondary-bg-color);
    padding: 20px;
    color: var(--primary-color);
    text-align: center;
}
/* TODO: Add homebutton styling somewhere here. */
.sidebar .sidebarFooter {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}
.sidebar .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 1em;
}
.sidebar .sidebarHeader button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    padding: .5em;
    border: none;
    cursor: pointer;
    font-size: var(--font-size);
    letter-spacing: 5px;
}
.sidebar .sidebarFooter .footerElement button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size);
    letter-spacing: 1px;
    transition: ease 0.5s;
}
.sidebar .sidebarFooter .footerElement button:hover {
    letter-spacing: 3px;
    background-color: var(--tertiary-color);
}
.sidebar .sidebarFooter ul {
    list-style: none;
    padding: 0;
}
@media (max-width: 1080px) {
    .sidebar {
        position: fixed;
        left: -250px;
        transition: left 0.5s ease;
    }
    .main {
        margin-left: 0;
    }
}